@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #f0b30f;
    --bg-color: #121316;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
}

.showcase h1 {
    color: var(--main-color);
}
